  .container {
      width: 80%;
      margin: auto;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
      background-color: #0307fc;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    }
  
    .title {
      text-align: center;
      font-size: 3rem;
      color: darkblue;
      margin-top: 20px;
      text-align: center;
    }

    .flash {
      background-color: yellow;
      padding: 10px;
      border: 2px solid orange;
      border-radius: 5px;
      margin: 10px auto;
      width: 80%;
      font-size: 1.2rem;
    }
  
    .main-container {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      overflow: hidden;
      background-color: green;
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    }

    #main-container{
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      overflow: hidden;
      background-color: green;
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.1)
    };

    #flash{
      background-color: yellow;
      padding: 10px;
      border: 2px solid orange;
      border-radius: 5px;
      margin: 10px auto;
      width: 80%;
      font-size: 1.2rem;
    }

    .sub-content {
        background-color: rgb(227, 52, 0);
        float: left;
        border: 2px solid black;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 10px 10px 5px grey;
        width: 29%;
        height: 150px;
        font-size: 90px;
        text-align: center;
        line-height: 150px;
        color: black;
        font-weight: bold;
        transition: transform 0.3s ease;
        text-shadow: cadetblue 1px 1px 2px, cadetblue 0 0 25px, cadetblue 0 0 5px;
    }
    .sub-sub-content {
        background-color: rgb(227, 52, 0);
        float: left;
        border: 2px solid black;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 10px 10px 5px grey;
        width: 29%;
        height: 150px;
        font-size: 90px;
        text-align: left;
        line-height: 150px;
        color: lightgreen;
        font-weight: bold;
        transition: transform 0.3s ease;  
        text-shadow: #03fc07 1px 1px 2px, #03fc07 0 0 25px, #03fc07 0 0 5px; 
    }
    .sun-content {
        background-color: rgb(227, 52, 0);
        float: left;
        border: 2px solid black;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 10px 10px 5px grey;
        width: 29%;
        height: 150px;
        font-size: 90px;
        text-align: right;
        line-height: 150px;
        color: lightblue;
        font-weight: bold;
        transition: transform 0.3s ease;  
       text-shadow: #0307fc 1px 1px 2px, #0307fc 0 0 25px, #0307fc 0 0 5px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    #box1 {
        background-color: rgb(75, 1, 1);
    }
    #box2 {
        background-color: rgb(255, 0, 0);
    }
    #box3 {
        background-color: rgb(255, 174, 0);
    }
    #box4 {
        background-color: rgb(229, 255, 0);
    }
    #box5 {
        background-color: rgb(0, 255, 21);
    }
    #box6 {
        background-color: rgb(4, 0, 255);
    }
    #box7 {
        background-color: rgb(1, 18, 167);
    }
    #box8 {
        background-color: rgb(105, 4, 151);
    }
    #box9 {
        background-color: rgb(255, 0, 140);
    }