/* Style the header */
header {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color:white                                               
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

 li a:hover {
    background-color: #555555;
    color: white;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 10px;
  text-align: center;
  color: white;

}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
