#lights {
    position: relative;
    border: solid 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 47px;
    left: 46px;
}

#container {
    height:250px;
    width: 250px;
    border: solid 2px red;
    position: static;
}
#lights2 {
    position: relative;
    border: solid 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 50px;
    left: 80px;
}

#container2 {
    height:250px;
    width: 250px;
    border: solid 2px red;
    position: static;
}
#lights3 {
    position: relative;
    border: solid 2px black;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 0px;
    left: 0px;
}

#container3 {
    height:250px;
    width: 250px;
    border: solid 2px red;
    position: static;
}
#footer {
    position: fixed;
    border: solid 2px blue;
    background-color: blue;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 600px;
    bottom: 50px;
}
#footer p {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

#header {
    position: fixed;
    border: solid 2px green;
    background-color: green;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 0px;
}

#ads {
    position: fixed;
    border: solid 2px orange;
    background-color: orange;
    width: 100px;
    height: 150px;
    text-align: center;
    top: 120px;
    right: 400px;
}

#sticky {
    position: sticky;
    border: solid 2px purple;
    background-color: purple;
    width: 100%;
    height: 30px;
    text-align: center;
    top: 50px;
    left: 0px;
}


#container4 {
    height:100px;
    width: 300px;
    border: solid 2px blue;
    position:relative;
    border-radius: 50px;
}

#lights4 {
    position: absolute;
    border: solid 2px black;
    width: 100px;
    height: 95px;
    text-align: center;
    top: 0px;
    left: 50px;
    border-radius: 100px;
    background-color: green;
}